br {
    clear: both;
}


body {
    background-color: #001526;

}



/* el logo*/
.logo img {
    width: 70px;
    float: left;
    margin-top: 10px;
    background-color: red;
    transition: transform 0.3s ease;
    /* prop necesaria para eso*/
}

/* de vueltas 360 grados*/
.logo img:hover {
    transform: rotate(360deg);
}

/*header*/
header {
    padding: 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #E5E6FC;
    z-index: 5;
    margin-top: 1;
}

/* el titulo Farmacia Pedroso*/
.slogan {
    font-size: 25px;
    font-family: serif, sans-serif, monospace;
    letter-spacing: 5px;
    font-weight: 700;
    float: left;
    margin-left: 1%;
    margin-top: 1.5%;
    color: #333;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/**/

.cont-noticias p,
h1,
h2,
h3,
.cont-derecha p {
    opacity: 0;
    animation: fade-in 1s forwards;
}

@keyframes h1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* barra de navegacion */
.nav-home {
    width: 50%;
    float: right;
    margin-top: 1%;
}

.nav-home>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E5E6FC;
    font-size: 25px;
    text-align: right;
}

.nav-home>ul>li,
.dropbtn {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Montserrat", "sans-serif";
    text-transform: uppercase;
    font-size: 15px;
    list-style-type: none;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
}

.nav-home>ul>li:hover:not(.active) {
    background-color: rgba(17, 17, 17, 0.575);
}

/**/

/* dropdown es lo del menu q se despliega en 3 opciones*/
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(80, 79, 79);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 15px;
}

li.dropdown {
    display: inline-block;
}

/**/


/* Boton ir arriba */
.red-ball-up,
.red-ball {
    position: fixed;
    border-radius: 50%;
    background-color: #ff0000;
    border: solid 0.3vw #970000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-align: center;
    transition: transform 0.3s ease;

    animation-name: rotateAnimation;
    /* estas 4 prop son necesarias para eso*/
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* para q se mantenga moviendose el icono*/
@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




.red-ball-up:hover,
.red-ball:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.red-ball-up.red-ball-up,
.red-ball.red-ball-up {
    opacity: 0;
    transition: all .50s ease;
}

.red-ball-up.red-ball-up.active,
.red-ball.red-ball-up.active {
    visibility: visible;
    opacity: 1;
}

.red-ball-up a,
.red-ball a {
    padding: 20px;
}

.red-ball-up img,
.red-ball img {
    position: relative;
    width: 80%;
}

@media (max-width: 1799px) {

    .red-ball-up,
    .red-ball {
        height: 75px;
        width: 75px;
        right: 25px;
        bottom: 25px;
    }

    .red-ball-up a,
    .red-ball a {
        padding: 15px;
    }
}

.red-ball-up,
.red-ball {
    height: 50px;
    width: 50px;
    right: 10px;
}

.red-ball-up.red-ball-up,
.red-ball.red-ball-up {
    bottom: 70px;
}

.red-ball-up a,
.red-ball a {
    padding: 10px;
}

/* ------- */

/* footer */
.div-mapa {
    margin-bottom: 0px;
    border: 2px solid red;
    border-radius: 5px;
}

.div-mapa img {
    width: 100%;
    height: 500px;

}

.footer-message {
    background-color: #001526;
    text-align: center;
    font-size: 14px;
    padding: 56px 0px 20px;
    color: #ffffff;
    border-radius: 5px;
}

#menu-item-29 {
    list-style: none;
}

.footer-message a {
    color: #ffffff;
}

/* ---- */

/*ifrmae*/
#content-page {
    width: 100%;
    height: 1600px;
    border-style: none;
    margin-bottom: 10px;
}



/* pagina politica privacidad   */
.body-privacidad {
    font-family: 'Formata', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
}


.post-content-inner {
    background-color: white;
    column-width: 269px;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px 43px;
    cursor: grab;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 100px;
}

.post-content-wrapper {
    position: relative;
    display: block;
    width: auto;
    height: 100%;
    flex-grow: 0;
    column-width: 200px;
    column-gap: 44px;
    -moz-column-fill: auto;
    column-fill: auto;
}

.page-content-wrapper {
    position: absolute;
    z-index: 4;
    background-color: #001526;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

/*---------*/

/*seccion 1  informacio farmacia*/
.inf-farmacia {
    padding-top: 180px;
    display: flex;
    width: 100%;
}

.izq {
    width: 50%;
    background-color: #E5E6FC;
    border-radius: 20px 0px 0px 20px;
    padding-left: 50px;

}

.cont-izq {
    width: 100%;
    height: 100%;
}

.cont-izq:hover {
    transform: scale(1.05);
    transition: transform 1s ease-in-out 0.2s;
}

.img-izq {
    height: 95%;
    width: 60%;
    margin: 1% 25% 1% 15%;
    border-radius: 20px;

}

.derecha {
    width: 50%;
    background-color: #E5E6FC;
    border-radius: 0px 20px 20px 0px;
    padding-right: 100px;

}

.cont-derecha p {
    font-size: 25px;
}

h1,
h3 {
    font-family: serif;
    text-decoration: underline;
    text-align: center;
    color: black;
}

p {

    font-size: 20px;
    /*font-family: monospace;
    text-align: center;*/
}

/*seccion 2 las noticias*/

.noticias {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.noticias h1 {
    padding-bottom: 50px;
    padding-top: 10px;
}

.cont-noticias {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.news {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #E5E6FC;
    border-radius: 10px;
    margin-top: 10px;
}

.news-content {
    width: 90%;
}

.news-content h3:hover,
.menu a:hover {
    color: blue;
}

.new-img {
    width: 10%;
    height: 100%;
}

.news-img-content {
    width: 100%;
    height: 100%;
}

.news-img-content img {
    width: 92px;
    height: 92px;
}



.news-img-content:hover {
    transform: scale(1.05);
    transition: transform 1s ease-in-out 0.2s;
}


.img-noticia {
    width: 40%;
    height: 50%;
    margin: 5% 10% 0% 20%;
    border-radius: 5px;
}

.news-img {
    width: 20%;
    height: 100%;
}


/* carrusel de medicamentos*/
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: white;
}

.div-med-A {
    padding-top: 180px;
    color: black;

}

/* para q el carrusel no se desplace hacia abajo y mueva el otro */
.carousel-inner {
    height: 250px;
}

/**/
.div-med-B {
    color: red;

}

.carousel-item.active {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}

.carousel-item {
    text-align: center;
}

.item1 {
    width: 33%;
    margin-left: 5%;
    margin-right: 2.5%;
}

.cont-item1 {
    background-color: #fffefe;
    margin-right: 0px;
    /*padding-left: 50px;*/
    padding-left: 0px;
    border-radius: 20px;
}

.holaaa {
    float: left;
    color: red;
    margin-left: 10px;
}

.valor-precio {
    float: left;
    color: red;
    padding-left: 10px;

}

.valor-precio p {
    width: 8%
}

.valor-cantidad {
    float: right;
    margin-right: 10px;

}

.valor-cantidad p {
    width: 50%;
}

.img-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.boton-medic {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
}

.boton-medic button {
    width: 100%;
}

/* desplazamiento bastante bueno*/
.carousel-item {
    transition: transform 0.3s ease-in-out;
}

.carousel-item.active {
    transform: translateX(0);
}

.carousel-item-next,
.carousel-item-prev {
    transform: translateX(100%);
}

/* --------------------------*/


/* Contactos*/
.div-contacto-mediano {
    background-color: white;
    position: absolute;
    display: flex;
    margin-top: 300px;
    width: 92%;
    margin-left: 65px;
    margin-right: auto;
    padding-bottom: 20px;
    border-top-width: 20px;
    padding-top: 20px;
    padding-left: 40px;
    border-right-width: 40px;
    border-radius: 5px;
}

.div-contacto-izquierda {

    margin-top: 100px;
    margin-bottom: 100px;
}

.div-contacto-iquierda h2 {
    margin: 15px 0 70px;
    font-size: 24px;
    letter-spacing: 1.5px;
}

.contactos-box-item-icon {
    float: left;
}

.div-contacto-derecho {
    width: 60%;
    padding-right: 50px;
}

.div-contacto-derecho p {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 10px 0 15px;
}

/* contacto form*/
.form-container .form-title,
.form-container>p {
    text-align: center;
    font-family: "Montserrat", "sans-serif";
}

.form-container .form-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.6px;
    color: #81221c;
}

.form-container>p {
    font-weight: 100px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
}

.form-section .form-container form {
    width: 40%;
    float: left;
}

.contact-info {
    width: 60%;
    float: left;
}

.field {
    padding: 0 45px;
    margin-bottom: 20px;
}

.form-group {
    width: 80%;
}

.was-validated {
    padding-left: 100px;
}

.field label {
    font-family: "Montserrat", "sans-serif";
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #858585;
    display: block;
    font-weight: 400;
    text-transform: none;
}

.field .label-error {
    color: red;
    display: none;
}

.field input,
.field select,
.field textarea {
    font-family: "Montserrat", "sans-serif";
    font-size: 14px;
    height: 50px;
    width: 80%;
    background: none;
    border: 1px solid #333;
    border-radius: 0;
}

.field input,
.field textarea {
    padding: 0 10px;
}

.select-field {
    padding-right: 25px;
}

.field textarea {
    padding-top: 10px;
}

.form-submit {
    float: right;
    margin-right: 25px;

}

.button {
    width: 210px;
    height: 33px;
    border: 5px solid #333;
    padding: 15px;
    text-align: center;
}

/* contactame */
.red-social img {
    height: 50px;
    width: 50px;

}

.red-social:hover {
    transform: scale(1.25);
    transition: transform 1s ease-in-out 0.2s;
}

.enlace-red-social {
    display: flex;
    margin-left: 5px;
    border-style: none;

}

.enlace-red-social button {
    border-style: none;
    padding-top: 14px;
    padding-left: 14px;
    background-color: white;

}

.red-social button {
    border-style: none;
    background-color: white;
}

.enlace-red-social a,
.contactos-box-item-content a,
.div-contacto-derecha center {
    font-size: 20px;
}

.div-contacto-derecha center {
    margin-left: 10px;
    margin-right: 5px;
}

.div-contacto-derecha h2 {
    font-size: 30px;
}



.form-check-label,
.form-group label,
.btn,
.form-control {
    font-size: 20px;
}

/* -----*/

/*---form- */

/* resolucion de las imagenes de los medicamentos*/
.img-item1 img {
    width: 110px;
    height: 110px;
}

/* animacion al boton de los medicamentos*/
.btn-primary {
    transition: background-color 2.3s ease;
}

.btn-primary:hover {
    background-color: red;
}

/**/

/*indice-medic*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.barra_busqueda {
    align-items: center;
    display: inline-flex;
    border: 2px solid;
    margin-left: 5px;

}

#lupa-busqueda {
    width: 20px;
    height: 20px;
}
#div-myInput{
  margin-left: 3px;
}

#myInput {
    width: 100%;
    margin-bottom: 0px;
    font-size: 20px;
    border-color: rgb(255, 255, 255);
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
    /* Ancho de la barra de desplazamiento */
}

/* Estilo para el track (fondo) de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color de fondo del track */
}

/* Estilo para el thumb (manija) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color del thumb */
    border-radius: 5px;
    /* Bordes redondeados del thumb */
}

/* Estilo cuando el thumb es activo (haciendo click sobre él) */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color del thumb en estado hover */
}

/* autentificacion*/
#body-autenticacion {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container-auten {
    width: 500px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    font-size: 20px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/**/