br {
    clear: both;
}

body {
    background-color: #785252;
}

/* el logo*/
.logo img {
    width: 70px;
    float: left;
    margin-top: 10px;
}


header {
    padding: 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #E5E6FC;
    z-index: 5;
    margin-top: 1;
}


.slogan {
    font-size: 25px;
    font-family: serif, sans-serif, monospace;
    letter-spacing: 5px;
    font-weight: 700;
    float: left;
    margin-left: 1%;
    margin-top: 1.5%;
    color: #333;
}

/* barra de navegacion */
.nav-home {
    width: 50%;
    float: right;
    margin-top: 1%;
}

.nav-home>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E5E6FC;
    font-size: 25px;
    text-align: right;
}

.nav-home>ul>li,
.dropbtn {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Montserrat", "sans-serif";
    text-transform: uppercase;
    font-size: 15px;
    list-style-type: none;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

li.dropdown {
    display: inline-block;
}

.nav-home>ul>li:hover:not(.active) {
    background-color: rgba(17, 17, 17, 0.575);
}

/*
.active {
    background-color: red;
}*/

/* ------ */



/* body inicio*/


/* Boton ir arriba */
.red-ball-up,
.red-ball {
    position: fixed;
    border-radius: 50%;
    background-color: #ff0000;
    border: solid 0.3vw #970000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-align: center;
}

.red-ball-up:hover,
.red-ball:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.red-ball-up.red-ball-up,
.red-ball.red-ball-up {
    opacity: 0;
    transition: all .50s ease;
}

.red-ball-up.red-ball-up.active,
.red-ball.red-ball-up.active {
    visibility: visible;
    opacity: 1;
}

.red-ball-up a,
.red-ball a {
    padding: 20px;
}

.red-ball-up img,
.red-ball img {
    position: relative;
    width: 80%;
}

@media (max-width: 1799px) {

    .red-ball-up,
    .red-ball {
        height: 75px;
        width: 75px;
        right: 25px;
        bottom: 25px;
    }

    .red-ball-up a,
    .red-ball a {
        padding: 15px;
    }
}

.red-ball-up,
.red-ball {
    height: 50px;
    width: 50px;
    right: 10px;
}

.red-ball-up.red-ball-up,
.red-ball.red-ball-up {
    bottom: 70px;
}

.red-ball-up a,
.red-ball a {
    padding: 10px;
}

/* ------- */

/* footer */
.div-mapa {
    margin-bottom: 0px;
    border: 2px solid red;
    border-radius: 5px;
}

.div-mapa img {
    width: 100%;
    height: 500px;

}

.footer-message {
    background-color: #001526;
    text-align: center;
    font-size: 14px;
    padding: 56px 0px 20px;
    color: #ffffff;
    border-radius: 5px;
}

#menu-item-29 {
    list-style: none;
}

.footer-message a {
    color: #ffffff;
}

/* ---- */

/* iFrame*/
#content-page {
    width: 98%;
    height: 3200px;
    border-style: none;
}


/* pagina politica privacidad   */
.body-privacidad {
    font-family: 'Formata', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
}

.post-content-inner {
    background-color: white;
    column-width: 269px;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px 43px;
    cursor: grab;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 100px;
}

.post-content-wrapper {
    position: relative;
    display: block;
    width: auto;
    height: 100%;
    flex-grow: 0;
    column-width: 200px;
    column-gap: 44px;
    -moz-column-fill: auto;
    column-fill: auto;
}

.page-content-wrapper {
    position: absolute;
    z-index: 4;
    background-image: linear-gradient(to bottom, #021638, #1b4792);
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

/*---------*/

/*seccion 1 */
.inf-farmacia {
    padding-top: 180px;
    display: flex;
    width: 100%;

}

.izq {
    width: 50%;
    background-color: #E5E6FC;
    border-radius: 20px 0px 0px 20px;
    padding-left: 50px;

}

.cont-izq {
    width: 100%;
    height: 100%;
}

.img-izq {
    height: 95%;
    width: 60%;
    margin: 1% 25% 1% 15%;
    border-radius: 20px;

}

.derecha {
    width: 50%;
    background-color: #E5E6FC;
    border-radius: 0px 20px 20px 0px;
    padding-right: 100px;

}

.cont-derecha p {
    font-size: 25px;
}

h1,
h3 {
    font-family: serif;
    text-decoration: underline;
    text-align: center;
    color: black;
}

p {

    font-size: 20px;
    font-family: monospace;
    text-align: center;
}

/*seccion 2*/

.noticias {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.noticias h1 {
    padding-bottom: 50px;
    padding-top: 10px;
}

.cont-noticias {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.news {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #E5E6FC;
    border-radius: 10px;
    margin-top: 10px;
}

.news-content {
    width: 90%;

}

.new-img {
    width: 10%;
    height: 100%;
}

.news-img-content {
    width: 100%;
    height: 100%;
}

.img-noticia {
    width: 40%;
    height: 50%;
    margin: 5% 10% 0% 20%;
    border-radius: 5px;
}

.news-img {
    width: 20%;
    height: 100%;
}


/* carouusel*/
.div-med-A {
    padding-top: 180px;
    color: black;

}

/* test */

.carousel-inner {
    height: 250px;
}

/**/
.div-med-B {
    color: red;

}

.carousel-item.active {

    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}

.carousel-item {
    text-align: center;
}

.item1 {
    width: 33%;
    margin-left: 5%;
    margin-right: 2.5%;
}

.cont-item1 {
    background-color: #fffefe;
    margin-right: 0px;
    /*padding-left: 50px;*/
    padding-left: 0px;
    border-radius: 20px;
}

.holaaa {
    float: left;
    color: red;
    margin-left: 10px;
}

.cont-item1 img {
    width: 60%;


}

.valor-precio {
    float: left;
    color: red;
    padding-left: 10px;

}

.valor-precio p {
    width: 8%
}

.valor-cantidad {
    float: right;
    margin-right: 10px;

}

.valor-cantidad p {
    width: 50%;
}

.img-item1 {


    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;


}

.boton-medic {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;

}

.boton-medic button {
    width: 100%;
}

/* test  desplazamiento bastante bueno*/
.carousel-item {
    transition: transform 0.3s ease-in-out;
}

.carousel-item.active {
    transform: translateX(0);
}

.carousel-item-next,
.carousel-item-prev {
    transform: translateX(100%);
}

/* */